git+https://github.com/adityacheats/downloader@master
pyrogram==1.4.16
TgCrypto
py-tgcalls
python-dotenv
git+https://github.com/mradityahalder/kaal-search-python@main
requests
aiohttp
aiofiles
asyncio
git+https://github.com/mradityahalder/kaal_search@master
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
